@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --header-font: 'Anton', sans-serif;
}

*{
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
}


img {
  width: 100%;
  height: auto;
}